* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
/* SCHELETRO STRUTTURA */
.header {
  width: 100%;
  height: 100px;
  background-color: red;
  z-index: 0 ;
  position: absolute;
}
.wrapper {
  width: 70%;
  height: 680px;
  background-color: pink;
  z-index: 1;
  position: relative;
  margin-top: 50px;
}
.section-main {
  display: flex;
  flex-direction: row;
}
.contatti {
  height: 680px;
  background-color: blue;
  width: 30%;
}
.chat {
  height: 680px;
  width: 70%;
  background-color: grey;
}
.profilo {
  height: 60px;
  background-color: green;
}
.notifiche {
  height: 70px;
  background-color: red;
}
.search-contatti {
  margin: 8px;
  border-radius: 3px;
}
.lista-contatti {
  height: 480px;
  background-color: yellow;
  margin-right: 10px;
}
.lista-contatti li {
  list-style: none;
  border: 1px solid black;
  height: calc(480px / 8);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-contatti {
  height: 30px;
}
/* /SCHELETRO STRUTTURA  */
/* DETTAGLI STRUTTURA */
.foto-profilo {
  height: 40px;
  width: 40px;
  background-color: purple;
  margin: 10px;
  border-radius: 50px;
}
